mixin content(data, options)
  .content
    iframe(id="styleguide-content",
           src="",
           allowfullscreen="true",
           sandbox="allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-modals allow-forms",
           allowtransparency="true"
           class="content-iframe")
    .content-loading Loading…
